alabaster==1.0.0
appdirs==1.4.4
argcomplete==3.4.0
attrs==23.2.1.dev0
autocommand==2.2.2
Babel==2.15.0
breezy==3.3.8
Brlapi==0.8.5
btrfsutil==6.10
build==1.2.2
CacheControl==0.14.0
cachy==0.3.0
cairocffi==1.6.1
certifi==2024.8.30
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
codespell==2.3.0
colorama==0.4.6
configobj==5.0.8
contourpy==1.3.0
coverage==7.6.1
crashtest==0.4.1
cryptography==42.0.7
cycler==0.12.1
distlib==0.3.8
distro==1.9.0
distro-info==1.7
docutils==0.21.2
dotty_dict==1.3.1
dulwich==0.22.1
envycontrol==3.5.1
fastbencode==0.3.1
fastjsonschema==2.20.0
filelock==3.13.3
fonttools==4.54.0
gitdb==4.0.11
GitPython==3.1.42
halo==0.0.31
hid==1.0.6
hjson==3.1.0
html5lib==1.1
idna==3.8
imagesize==1.4.1
inflect==7.3.1
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.2
jaraco.text==4.0.0
jeepney==0.8.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keyring==25.2.1
kiwisolver==1.4.5
lark==1.1.9
libfdt==1.7.1
libtorrent==2.0.10
lit==18.1.8.dev0
lockfile==0.12.2
log_symbols==0.0.14
louis==3.31.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mercurial==6.8.1
merge3==0.0.15
meson==1.5.2
milc==1.8.0
more-itertools==10.3.0
msgpack==1.0.5
nftables==0.1
nicotine-plus==3.3.5
nose==1.3.7
numpy==2.1.1
ordered-set==4.1.0
packaging==24.1
patiencediff==0.2.15
pexpect==4.9.0
pillow==10.4.0
pipx==1.6.0
pkginfo==1.10.0
platformdirs==4.2.2
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
protontricks==1.12.0
ptyprocess==0.7.0
pycairo==1.27.0
pycparser==2.22
Pygments==2.18.0
PyGObject==3.50.0
pyOpenSSL==24.2.1
pyparsing==3.1.2
pyproject_hooks==1.1.0
pyrsistent==0.19.3
pyserial==3.5
python-dateutil==2.9.0
pytz==2024.2
pyusb==1.2.1
pywayland==0.4.18
pywlroots==0.17.0
PyYAML==6.0.2
qmk==1.1.5
qtile==0.28.2.dev0+gf1ed49bc.d20240813
rapidfuzz==3.6.2
referencing==0.35.1
requests==2.32.3
requests-toolbelt==1.0.0
rpds-py==0.19.0
SecretStorage==3.3.3
setuptools==69.5.1
setuptools-scm==8.1.0
shellingham==1.5.4
shtab==1.7.1
six==1.16.0
smmap==5.0.1
snowballstemmer==2.2.0
speedtest-cli==2.1.3
Sphinx==8.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spinners==0.0.24
termcolor==2.4.0
tldr==3.3.0
tomli==2.0.1
tomlkit==0.13.2
tqdm==4.66.5
trove-classifiers==2024.9.17
typeguard==4.3.0
typing_extensions==4.12.2
tzlocal==5.2
urllib3==1.26.20
userpath==1.9.2
validate==5.0.8
validate-pyproject==0.19
vdf==3.5
virtualenv==20.26.2
webencodings==0.5.1
wheel==0.44.0
xcffib==1.5.0
xkbcommon==1.5.1
youtube_dl==2021.12.17
yt-dlp==2024.8.6
